<div class="row">
  <div class="col-lg-4">
    <div class="widget style1">
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-trophy fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <span>Déjà acquis (tous les membres compris)</span>
          <h2 class="font-bold">{{ revenusAcquis + revenusAcquisGlobal | number: '2.' }} $</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 offset-4">
    <div class="widget style1">
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-trophy fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <span>Total à récolter</span>
          <h2 class="font-bold">{{ revenusTotal | number: '2.' }} $</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Objectifs financiers de la famille</h5>
        <div class="ibox-tools">
          <a [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles" class="btn btn-primary btn-sm"
            data-toggle="modal" data-target="#new-objectif" style="margin-top: -5px;">Nouvel objectif</a>
        </div>
      </div>
      <div class="objectifs-bloc">
        <div class="objectif" *ngFor="let objectif of objectifs">
          <div class="star-icon">
            <i *ngIf="objectif.isPrincipal" class="fa fa-star fa-2x yellow-icon" aria-hidden="true"></i>
            <i *ngIf="objectif.isCompleted" class="fa fa-check-circle fa-2x text-navy" aria-hidden="true"></i>
          </div>
          <div class="top-bloc">
            <a [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles" class="mr-1"
              (click)="updateObjectifOk(objectif.id)">
              <i class="fa fa-check fa-lg text-navy" aria-hidden="true"></i>
            </a>
            <a [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles" class="mr-1"
              (click)="updateObjectif(objectif.id)">
              <i class="fa fa-star fa-lg yellow-icon" aria-hidden="true"></i>
            </a>
            <div class="name">
              {{ objectif.name }}
            </div>
          </div>
          <div class="value">
            Coût : {{ objectif.value | number: '2.' }} $
          </div>
          <div class="percentage">
            {{ objectif.isPrincipal ? getPercentage(objectif.value) :  objectif.isCompleted ? 100 : 0 }}%
          </div>
          <div *ngIf="objectif.isPrincipal || objectif.isCompleted" class="progress progress-mini">
            <div class="progress-bar" [style.width.%]="objectif.isCompleted ? 100 : getPercentage(objectif.value)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Revenus actuels des gradés</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Possession</th>
              <th>Revenus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let revenu of revenus">
              <td>{{ revenu.userName }}</td>
              <td>{{ revenu.value | number: '2.' }} $</td>
            </tr>
          </tbody>
        </table>
        <button [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles"
          class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#edit-revenus">Éditer mes
          revenus</button>
      </div>
    </div>
    <div class="ibox">
      <div class="ibox-title">
        <h5>Revenus des membres du clan</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Possession</th>
              <th>Revenus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let revenu of revenusGlobal">
              <td>{{ revenu.userName }}</td>
              <td>{{ revenu.value | number: '2.' }} $</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#edit-revenus-global">Éditer mes
          revenus</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nouveaux revenus -->
<div class="modal inmodal fade" id="new-objectif" tabindex="-1" role="dialog" aria-hidden="true"> -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Nouvel objectif</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form role="form">
              <div class="form-group">
                <label>Nom de l'objectif</label>
                <input [(ngModel)]="currentObjectif.name" id="objectifname" name="objectifname" type="text"
                  class="form-control">
              </div>
              <div class="form-group"><label>Argent à récolter</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon">$</span>
                  </div>
                  <input [(ngModel)]="currentObjectif.value" id="objectifvalue" name="objectifvalue" type="text"
                    type="number" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createObjectif()">Enregistrer mon
          objectif</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal revenus -->
<div class="modal inmodal fade" id="edit-revenus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Mes revenus</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form role="form">
              <div class="form-group">
                <label>Revenus actuels</label>
                <br>
                <small>Uniquement la somme qui servira à payer les objectifs</small>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon">$</span>
                  </div>
                  <input [(ngModel)]="currentRevenus.value" id="revenusvalue" name="revenusvalue" type="number"
                    type="number" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createRevenus()">Enregistrer mes
          revenus</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal revenus global -->
<div class="modal inmodal fade" id="edit-revenus-global" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Mes revenus</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form role="form">
              <div class="form-group">
                <label>Revenus actuels</label>
                <br>
                <small>La somme exacte de votre compte en banque</small>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon">$</span>
                  </div>
                  <input [(ngModel)]="currentRevenusGlobal.value" id="revenusglobalvalue" name="revenusglobalvalue"
                    type="number" type="number" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createRevenusGlobal()">Enregistrer
          mes
          revenus</button>
      </div>
    </div>
  </div>
</div>