<!-- Radio -->
<div class="row">
    <div class="col-lg-4">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-volume-control-phone fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>
                        <strong>Radio du jour</strong>
                    </span>
                    <h2 class="font-bold">{{ currentRadios.radioJour }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-volume-control-phone fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>
                        <strong>Radio de secours</strong>
                    </span>
                    <h2 class="font-bold">{{ currentRadios.radioSecours }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-volume-control-phone fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>
                        <strong>Radio des guetteurs</strong>
                    </span>
                    <h2 class="font-bold">{{ currentRadios.radioGuetteurs }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-2"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Messages</h5>
            </div>
            <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-envelope-o"></i> Messages des gradés</h3>
                <small>Seuls les messages du chef et des officiers apparaitront ci-dessous</small>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
                    <div class="feed-element" *ngFor="let message of messages">
                        <div>
                            <small class="float-right text-navy">{{ message.minutesAgo }}</small>
                            <strong>{{ message.user }}</strong>
                            <div>{{ message.message }}</div>
                            <small class="text-muted">{{ message.date }}</small>
                            <button [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles"
                                (click)="deleteMessage(message.id)" type="button" style="float: right;"
                                class="btn btn-default btn-circle"><i class="fa fa-trash-o text-red"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Actions en attente</h5>
                    </div>
                    <div class="ibox-content table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Message</th>
                                    <th>Par</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let workingDay of workingsDay">
                                    <td><span
                                            class="label {{ workingDay.status | workingTypeColor }}">{{ workingDay.status }}</span>
                                    </td>
                                    <td>{{ workingDay.message }}</td>
                                    <td>{{ workingDay.user }}</td>
                                    <td style="display: flex;" [appAuthorizedHtmlView]="'S_CHEF'"
                                        [userRoles]="globals.currentUser.roles">
                                        <a data-toggle="modal" [attr.href]="'#modal-edit-status-' + workingDay.id"
                                            class="mr-1"><i class="fa fa-pencil-square-o"></i></a>
                                        <a class="mr-1" (click)="deleteAction(workingDay.id)"><i
                                                class="fa fa-trash-o text-red"></i></a>

                                        <div id="modal-edit-status-{{workingDay.id}}" class="modal fade"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12 b-r">
                                                                <h3 class="m-t-none m-b">Modifier l'action
                                                                </h3>
                                                                <div class="form-group"><label>Rapport</label>
                                                                    <textarea value="{{workingDay.message}}"
                                                                        #actionMessage class="form-control"
                                                                        rows="4"></textarea>
                                                                </div>
                                                                <select value="{{workingDay.status}}" id="wstatus"
                                                                    name="wstatus" #actionSelected
                                                                    class="form-control m-b" name="account">
                                                                    <option selected>A faire</option>
                                                                    <option selected>En cours</option>
                                                                    <option>Urgent</option>
                                                                    <option>Fait</option>
                                                                </select>
                                                                <button data-dismiss="modal"
                                                                    class="btn btn-primary btn-sm" type="button"
                                                                    (click)="changeStatusAction(workingDay.id, actionSelected.value, actionMessage.value)">Modifier
                                                                    le status</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Informations de la famille</h5>
                    </div>
                    <div class="ibox-content table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Surnom</th>
                                    <th>Téléphone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td><strong>{{ user.prenom }}</strong></td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.surnom }}</td>
                                    <td>{{ user.tel }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-sm mt-2" style="float: right" data-toggle="modal"
                            data-target="#modal-edit-tel">Éditer mon numéro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Editer le numéro de téléphone -->
<div id="modal-edit-tel" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">Modifier mon numéro</h3>
                        <div class="form-group">
                            <label>Phone</label>
                            <input value="{{ globals.currentUser.tel }}" #tel id="tel" name="tel" type="text" type="text" class="form-control"
                                data-mask="9999-9999" placeholder="">
                        </div>
                        <button data-dismiss="modal" class="btn btn-primary btn-sm" type="button" (click)="updateTel(tel.value)">Modifier mon muméro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>