<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">S</h1>
        </div>
        <h3>Bienvenue chez le clan Serrini</h3>
        <p>Ceci est un site internet privé. Si tu n'as rien à faire ici, merci de cliquer sur la croix rouge.</p>
        <p>Connecte toi pour accéder au tableau de bord.</p>
        <form class="m-t" role="form" action="index.html">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="login" name="login" placeholder="Login" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Mot de passe"
                    required>
            </div>
            <button type="submit" (click)="connect()" class="btn btn-primary block full-width m-b">Se connecter</button>
        </form>
        <p class="m-t"> <small>Crée par <strong>Vito Moretti</strong> pour le clan <strong>Serrini</strong> &copy;
                2019</small> </p>
    </div>
</div>