<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" *ngIf="globals.isLoggedIn">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span class="block m-t-xs font-bold menu-name">Bonjour {{ globals.currentUser.prenom }}</span>
                        <a>
                            <span class="text-muted text-xs block" (click)="logout()">Se déconnecter</span>
                        </a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a routerLink="/"><i class="fa fa-th-large"></i> <span class="nav-label">Tableau de bord</span></a>
                </li>
                <li class="collapser" [appAuthorizedHtmlView]="'SERRINI'" [userRoles]="globals.currentUser.roles">
                    <i class="fa fa-th-large i-submenu"></i> <span class="nav-label nav-grey-text">Clan Serrini</span>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a routerLink="/rapports-missions">Rapports de mission
                                <span *ngIf="globals.currentUser.newReport == true"
                                    class="pastille label label-info float-right">New</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li><a routerLink="/registre">Registre téléphonique</a></li>
                    </ul>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li><a routerLink="/finances">Finances</a></li>
                    </ul>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li><a routerLink="/weed">Weed</a></li>
                    </ul>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li><a routerLink="/objectifs">Objectifs</a></li>
                    </ul>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li><a routerLink="/effectifs">Disponibilité</a></li>
                    </ul>
                </li>
                <li [appAuthorizedHtmlView]="'S_CHEF'" [userRoles]="globals.currentUser.roles">
                    <a routerLink="/admin"><i class="fa fa-th-large"></i> <span
                            class="nav-label">Administration</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation -->

    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight">
            <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <div class="footer fixed">
            <div class="pull-right">
                Crée par <strong>Vito Moretti</strong> pour le clan <strong>Serrini</strong>
            </div>
            <div>
                <strong>Copyright</strong> Serrini &copy; 2019
            </div>
        </div>
        <!-- Footer -->
    </div>
</div>