<div class="row">
  <div class="col-lg-4">
    <div class="widget style1">
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-usd fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <span> Revenu du mois </span>
          <h2 class="font-bold">{{ revenuJour | number: '2.' }} $</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 offset-4">
    <div class="widget style1">
      <div class="row">
        <div class="col-4 text-center">
          <i class="fa fa-usd fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <span> Revenus global des ventes </span>
          <h2 class="font-bold">{{ revenuGlobalDealder | number: '2.' }} $</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Gestion des ventes</h5>
        <div class="ibox-tools">
          <a class="btn btn-primary btn-sm" style="margin-top: -5px" data-toggle="modal" data-target="#new-vente">Nouvelle vente</a>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Vendeur</th>
              <th>Acheteur</th>
              <th>Quantités</th>
              <th>Type</th>
              <th>Revenus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let weed of weeds">
              <td>{{ weed.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ weed.vendor }}</td>
              <td>{{ weed.buyer }}</td>
              <td>{{ weed.quantity }}</td>
              <td>{{ weed.type }}</td>
              <td>{{ weed.price | number: '2.' }} $</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Stock</h5>
        <div class="ibox-tools">
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Possession</th>
              <th>Quantités</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let weedStock of weedsStock">
              <td>{{ weedStock.userName }}</td>
              <td>{{ weedStock.quantity }}</td>
              <td>{{ weedStock.type }}</td>
              <td>
                <a *ngIf="weedStock.userId == globals.currentUser.id"
                class="ml-1" (click)="deleteStock(weedStock.id)">
                <i class="fa fa-trash-o text-red"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#edit-stock">Ajouter un
          stock</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nouvelle vente -->
<div class="modal inmodal fade" id="new-vente" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Nouvelle vente</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form role="form">
              <div class="form-group" id="date-weed">
                <label class="font-normal">Date</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input [(ngModel)]="currentWeed.date" id="date" name="date" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>Type</label>
                <select [(ngModel)]="currentWeed.type" class="form-control m-b" name="weedtype">
                  <option>Cocaïne</option>
                  <option>Weed</option>
                  <option>Crack</option>
                  <option>Moonshine</option>
                  <option>JAR</option>
                  <option>Champignon</option>
                  <option>Elixir</option>
                  <option>Beretta</option>
                  <option>UZI</option>
                  <option>Gusenberg</option>
                  <option>Machette</option>
                  <option>Couteau</option>
                  <option>Clé de serrage</option>
                  <option>Club de golf</option>
                  <option>Batte de Baseball</option>
                  <option>Bouteille</option>
                  <option>Queue de billard</option>
                  <option>Poing americain</option>
                  <option>Dague</option>
                  <option>Hâche de combat</option>
                </select>
              </div>
              <div class="form-group"><label>Acheteur</label>
                <input [(ngModel)]="currentWeed.buyer" id="buyer" name="buyer" type="text" type="text"
                  class="form-control">
              </div>
              <div class="form-group"><label>Quantité</label>
                <input [(ngModel)]="currentWeed.quantity" id="quantity" name="quantity" type="text" type="number"
                  class="form-control">
              </div>
              <div class="form-group">
                <label class="font-normal">Prix de vente</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                  <input [(ngModel)]="currentWeed.price" id="price" name="price" type="number" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createWeed()">Enregistrer ma
          vente</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal stock weed -->
<div class="modal inmodal fade" id="edit-stock" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Mon stock</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form role="form">
              <div class="form-group">
                <label>Stocks en ma possession</label>
                <br>
                <small>Merci de ne rien inscrire si vous n'avez AUCUN stock</small>
                <input [(ngModel)]="currentWeedStock.quantity" id="stockquantity" name="stockquantity" type="text"
                  type="number" class="form-control">
              </div>
              <div class="form-group">
                <label>Type</label>
                <select [(ngModel)]="currentWeedStock.type" class="form-control m-b" name="weedstocktype">
                  <option>Cocaïne</option>
                  <option>Weed</option>
                  <option>Crack</option>
                  <option>Moonshine</option>
                  <option>JAR</option>
                  <option>Champignon</option>
                  <option>Elixir</option>
                  <option>Beretta</option>
                  <option>UZI</option>
                  <option>Gusenberg</option>
                  <option>Machette</option>
                  <option>Couteau</option>
                  <option>Clé de serrage</option>
                  <option>Club de golf</option>
                  <option>Batte de Baseball</option>
                  <option>Bouteille</option>
                  <option>Queue de billard</option>
                  <option>Poing americain</option>
                  <option>Dague</option>
                  <option>Hâche de combat</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createWeedStock()">Enregistrer mon
          stock</button>
      </div>
    </div>
  </div>
</div>