<div class="effectifs">
  <div class="bloc-left">
    <div class="username" *ngFor="let effectif of effectifs">
      {{ effectif.userName }}
    </div>
  </div>
  <div class="bloc-right">
    <div class="days-bloc mb-1">
      <div class="day">
        <div class="main-bloc date-label">Lundi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Mardi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Mercredi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Jeudi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Vendredi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Samedi</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
      <div class="day">
        <div class="main-bloc date-label">Dimanche</div>
        <div class="sub-bloc">
          <div class="sub date-label">Après-midi</div>
          <div class="sub date-label">Soir</div>
        </div>
      </div>
    </div>
    <div class="line" *ngFor="let effectif of effectifs">
      <div class="content">
        <form role="form">
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.lundi2 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'lundi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.lundi3 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'lundi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.mardi2 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'mardi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.mardi3 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'mardi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.mercredi2 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'mercredi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.mercredi3 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'mercredi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.jeudi2 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'jeudi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.jeudi3 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'jeudi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.vendredi2 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'vendredi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.vendredi3 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'vendredi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.samedi2 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'samedi2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.samedi3 | effectifsTypeColor }}" (click)="changeStatut(effectif, 'samedi3')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.dimanche2 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'dimanche2')"></button>
          <button type="button" [disabled]="effectif.userId != globals.currentUser.id"
            class="{{ effectif.dimanche3 | effectifsTypeColor }}"
            (click)="changeStatut(effectif, 'dimanche3')"></button>
        </form>
      </div>
    </div>

    <button [appAuthorizedHtmlView]="'C_RESET'" [userRoles]="globals.currentUser.roles" type="button"
      class="btn btn-primary" (click)="resetAllEffectif()">Remettre à zéro tous les
      effectifs</button>
  </div>