.menu-name {
        color: #DFE4ED;
}

.nav-grey-text {
        color: #a7b1c2;
}

.text-red {
        color: #ed5565 !important;
}

.i-submenu {
        text-decoration: none;
        color: #a7b1c2;
        font-weight: 600;
        padding: 14px 20px 14px 25px;
}